*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: serif;
    color: rgb(255, 255, 255);
}

.divider {
 width: 100%;
 margin-bottom: 1rem;
 }


h2,h3{
    font-family: serif;
    font-size: 2.0rem;
    color: rgb(255, 255, 255);
}


.horarios-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    min-height: calc(100dvh - 60px) ;
    background-color: #5f5f5f;
    color: rgb(145, 138, 138);
}
.horarios{
    text-align: center;
    position: relative;
    top: 30rem;
   
}
.container{
    margin: 1.0rem;
    padding: 1.0rem;
    width: calc(100% - 2rem);
    background-color: rgb(0, 0, 0,0.5);
    text-align: center ;
}
.container ul {   
    text-align: left;
    display: inline-block;
    font-size: 1.5rem;
    color:rgb(248, 253, 248);
}
.Sucursal{
    position: relative;
    width: 350px;
    height:calc(100vh - 100px);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.5);
}
 .Valle{
    isolation: isolate;
    background: url(/ME.jpg);
    background-position: center;
    background-size: cover;
       }
 .Mariano{
    isolation: isolate;
    background: url(/Valle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
 }
 
.Valle::after,
.Mariano::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: .5 ;
  background: rgb(0, 0, 0);
  border-radius: 10px;
}