*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.About {
    padding: 20px;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: white;
  }
  .About h1{
    text-align: center;
  }
  .About p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin-bottom: 10px;
  }