*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: serif;
  text-align: justify;
} 
.About {
    padding: 30px;
    width: 100%;
    min-height: calc(100vh - 6.0rem);
    background-color: white;
  }
  
  .About p {
    font-size: 2.0rem;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin-bottom: 10px;
  }